/* Comentario em CSS */

/* Seletores basicos */
/* 
    seletor de tag => tag => especifidade 1
    seletor de classe => . => especifidade 2
    seletor ed id => # => especifidade 3
*/

/* 
    classe = seletor mais especifico para muitos elementos
    id = seletor especifico para UM elemento
*/

body{
    margin-bottom: 1000px;
}

h4{
    font-size: 25px;
}

.titulo{
    color: purple;
    font-size: 40px;
}

#paragrafo-especial{
    font-style: italic;
}

/* Propriedades de texto */

.basic-text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(83, 255, 135);
}

.styled-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

.weighty-text{
    font-weight: bold;
    font-size: 40px;
}

.fancy-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: rgb(65, 65, 65);
    text-align: center;
    text-transform: uppercase;
}

/* Cores */
/* 90% = HEX */
/* 1% = RGBA => A alpha opacidade  */

.hex-color{
    /* 6 Algarismos, precedidos por #, A-F 0-9 */
    /* F -> Mais claro, 0 -> Mais escuro */
    color: #ef3298;
}

.rgb-color{
    /* Red, Green, Blue */
    /* 0 -> Mais escuro, 255 -> Mais claro  */
    color: rgb(34,100,200); 
}

.rgba-color{
    /* O => invisivel, 1 => totalmente visivel */
    background-color: rgba(255,70,100,1);
}

.rgba-color-2{
    /* O => invisivel, 1 => totalmente visivel */
    background-color: rgba(255,70,100,0.4);
}

/* Hue, Saturation, Lightness */
.hsl-color{
    color: hsl(120, 68%, 40%);
}

.hsla-color{
    background-color: hsla(120, 50%, 30%, 0.3);
}

/* Estilização de links */
.simple-link{
    text-decoration: none;
    color: #312333;
}

.fancy-link{
    text-decoration: line-through;
    font-style: italic;
}

.hover-link{
    text-decoration: none;
}

/* hover = evento chamado quando o usuario passa o mouse no elemento */
.hover-link:hover{
    text-decoration: underline;
    color: orange;
}

.bold-link{
    font-weight: 600;
}

/* Box Model */
.width-height{
    width: 200px;
    height: 100px;
    border: 2px solid #123;
}

/* Espaçamento interno. Pode ser adicionado aos 4 cantos */
.padding-example{
    width: 200px;
    height: 100px;
    border: 2px solid #123;

    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
}

/* Margem = espaçamento externo */
.margin-example{
    width: 200px;
    height: 100px;
    border: 2px solid #123;
    margin: 30px;
}

/* Shorthand = 1 todos, 2 valores superior e lateral */
/* SHOR-HAND = 99% */
/* ORDEM: todos os lados, cime e lateral, especificos */

.complete-box{
    width: 200px;
    height: 100px;
    border: 2px solid #123;
    padding: 50px 100px;
    margin: 10px 20px 30px 40px;
}    

/* Positions */

/* Como o HTML é iniciado */
.static-example{
    position: static;
    border: 1px solid #123;
}

/* Podemos mover os elementos em direções da tela */
.relative-example{
    position: relative;
    bottom: 40px;
    left: 600px;
    background-color: aquamarine;
}

/* Podemos mover o elemento pela tela, mas sua referencia será o elemnto pai */
.absolute-example{
    position: absolute;
    background-color: #941;
    top: 10px;
    left: 300px;
}

/* Elemento ficará sempre visivel na tela */
.fixed-example{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #afeafe;
    border: 2px solid #000;
}

/* Elemento ficará sempre visivel uma vez que aparecer na tela, até voltar para local de origem */
.sticky-example{
    position: sticky;
    top: 0;
    background-color: #adadaa;
    border: 2px solid #000;
}

.relative-container{
    position: relative;
    margin-top: 300px;
    width: 300px;
    height: 300px;
    border: 2px solid #000;
}

.absolute-inside-relative{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #941;
}

/* Flexbox */
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #000;
    padding: 10px;
    height: 1000px;
}

.flex-item{
    width: 100px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #023ee2;
    flex: 1;
}

